.contact-hero {
  position: relative;
  margin-top: 80px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.contact-hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d47637cc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-hero h1 {
  position: relative;
  margin-top: 30px;
  font-size: 2.5rem;
  z-index: 1;
}

.contact-info-box {
  background-color: rgba(255, 222, 184, 0.603);
  border-radius: 10px;
  padding: 2rem;
  max-width: 400px;
  margin: 2rem;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

.contact-info-box h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: #1f1f1f;
}

.contact-info-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info-box li {
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
}

.contact-info-box a {
  color: #d35400;
  text-decoration: none;
}

.contact-info-box a:hover {
  text-decoration: underline;
}
